html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	/* vertical-align: baseline; */
	vertical-align: top;
	background: transparent;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {
	border-collapse: collapse;
	border-spacing: 0;}
header, nav, section, article, aside, footer {display: block;}
body {
	background: #eceae8 url(../img/bg.png);
	font: 14px/20px Arial, Tahoma, Verdana, sans-serif;}
a {
	color: #555;
	outline: none;
	text-decoration: none;}
a:hover {text-decoration: none;}
p {margin: 0 0 18px}
img {border: none;}
input {vertical-align: middle;}

/* Additional */
#head, #footer {
	min-width: 800px;
	text-align: center;
	text-shadow: #fff 0 1px 0;}
#head {
	color: #555;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
	margin: 100px 0 50px;}
#footer {
	font-size: 13px;
	margin: 20px 0;}


/* TABS */
.tabs {
    position: relative;
    margin: 0 auto;
	width: 200px;}
.tabs label {
	display: block;
	float: left;
	background: #f0f0f0;
	
	
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	position: relative;
	
	width: 50px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
	
	z-index: 1;}
.tabs input.x4menu[type="radio"] {
	position: absolute;
	left: -9999px;}
#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3,
#tab_4:checked  ~ #tab_l4 {
	background: #fff;
	border-color: #fff;
	top: 0;
	z-index: 3;}

.tabs_cont {
	background: #fff;
	-moz-border-radius: 0 6px 6px 6px;
	-webkit-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
	-moz-box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.1);
	/* padding: 20px 25px; */
	position: relative;
	z-index: 2;
	height: 537px;}
.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;}

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4 {
	position: static;
	left: 0;
	opacity: 1;}
/* table.data{ background:yellow;} */
/* table.data td input{width:55px !important;height:35 px !important;background:lightgreen !important;left:0;} */


/* gui section new code*/
input {width:36px;padding: 0;}
td {width:50px;text-align: center;}
button.b50px{
	width:46px;height:24px;
	text-align: center;
	margin-bottom: 4px;
	padding: 0;
	border-width:0;}
button:hover{
	background-color: #333;
}
input[type="checkbox"]{
	width: 10px;
}
input[type="radio"]{
	width: 10px;
}
input[type="color"]{
	/* width: 20px;
	padding: 0;
	border-width:0; */
}